// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
  &.content-gray {
    background-color: #efeeee;
  }
}

.easego-toast {
  .toast-wrapper {
    width: 90%;

    &.toast-bottom {
      bottom: 70px !important;
    }

    &.toast-top {
      top: 60px !important;
    }
  }
}

.user-head-image-div {
  text-align: center;
  background-color: #ffcc80;

  img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}