page-account {

  .setting-head-image-div {
    text-align: center;
    background-color: #ffcc80;
  
    img {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 90px;
      width: 90px;
      border-radius: 45px;
    }
  }
}
