page-reserve {
  div {
    font-size: 17px;
    white-space: initial;
  }
  .price {
    font-size: 17px;
    color: #558b2f;
  }
  .right {
    text-align: right;
  }
  .lightgray-header {
    color: #000000 !important;
    background-color: lightgray;
  }
}
