page-reserve {

  div {
    font-size: 17px;
    white-space: initial;
  }

  .price {
    font-size: 17px;
    color: #558b2f;
  }

  .right {
    text-align: right;
  }

  .black-label {
    color: #000000;
  }
}
